/*

Add styles or override variables from the theme here.

*/

$primary: #bc3f48;
$secondary: #f9f9f9;
$success: #0BC208;
$warning: #fad355;
$info: #198698;

.btn {
  border-radius: 0.25rem !important;
}

img {
  max-width: 40%;
  height: auto;
}

.td-main img {
  border-style: initial;
  border: 1px solid lightgray;
}
