+++
title = "Goldydocs"
linkTitle = "Goldydocs"

+++

{{< blocks/lead title="CTFd Support & Documentation" height="min" color="white" >}}
<h1 class="display-1 mt-0 mt-md-5 pb-4">
	CTFd Documentation
</h1>

<div class="row">
	<div class="col-md-8 offset-md-2">
		{{< search >}}
	</div>
</div>
{{< /blocks/lead >}}


{{% blocks/lead color="primary" %}}
<div class="row pb-3">
	<div class="col-lg-4 col-md-12">
		<a href="/docs/deployment/" class="d-block text-dark">
			<div class="card" style="min-height: 200px;">
				<div class="card-body">
					<p>
						<i class="fas fa-server fa-3x"></i>
					</p>
					<h5 class="card-title">Deploy</h5>
					<h6 class="card-subtitle mb-2 text-muted">
						Setting up CTFd
					</h6>
				</div>
			</div>
		</a>
	</div>
	<div class="col-lg-4 col-md-12">
		<a href="/docs/settings/" class="d-block text-dark">
			<div class="card" style="min-height: 200px;">
				<div class="card-body">
					<p>
						<i class="fas fa-tools fa-3x"></i>
					</p>
					<h5 class="card-title">Settings</h5>
					<h6 class="card-subtitle mb-2 text-muted">
						CTFd configuration and settings
					</h6>
				</div>
			</div>
		</a>
	</div>
	<div class="col-lg-4 col-md-12">
		<a href="/tutorials/" class="d-block text-dark">
			<div class="card" style="min-height: 200px;">
				<div class="card-body">
					<p>
						<i class="fas fa-question-circle fa-3x"></i>
					</p>
					<h5 class="card-title">Tutorials</h5>
					<h6 class="card-subtitle mb-2 text-muted">
						Guides & Tutorials for common tasks in CTFd
					</h6>
				</div>
			</div>
		</a>
	</div>
</div>
<div class="row">
	<div class="col-lg-4 col-md-12">
		<a href="/hosted/" class="d-block text-dark">
			<div class="card" style="min-height: 200px;">
				<div class="card-body">
					<p>
						<i class="fas fa-cloud fa-3x"></i>
					</p>
					<h5 class="card-title">Hosted CTFd</h5>
					<h6 class="card-subtitle mb-2 text-muted">
						Management & Billing for Hosted CTFd instances
					</h6>
				</div>
			</div>
		</a>
	</div>
	<div class="col-lg-4 col-md-12">
		<a href="/docs/plugins/" class="d-block text-dark">
			<div class="card" style="min-height: 200px;">
				<div class="card-body">
					<p>
						<i class="fas fa-code fa-3x"></i>
					</p>
					<h5 class="card-title">Plugins</h5>
					<h6 class="card-subtitle mb-2 text-muted">
						Developing CTFd Plugins
					</h6>
				</div>
			</div>
		</a>
	</div>
	<div class="col-lg-4 col-md-12">
		<a href="/docs/themes/" class="d-block text-dark">
			<div class="card" style="min-height: 200px;">
				<div class="card-body">
					<p>
						<i class="fab fa-css3 fa-3x"></i>
					</p>
					<h5 class="card-title">Themes</h5>
					<h6 class="card-subtitle mb-2 text-muted">
						Developing CTFd Themes
					</h6>
				</div>
			</div>
		</a>
	</div>
</div>
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fa" %}}
<!-- Empty for now with a stub icon -->
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="/docs/contributing/" %}}
Take a look at our <a href="/docs/contributing/">Contributing Guidelines</a> page to get started adding your ideas to the CTFd ecosystem!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/ctfdio" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}
